<!DOCTYPE html>
<html lang = "en"> 
    <title> Healthylife Tracker</title>
    <head>
        <link href = "../static/main.css" rel = "stylesheet">
    </head>
        <body>
            <div class="navbar">
              <a href="{{url_for('index')}}">Enter Data</a>
              <a href="{{url_for('the_data')}}">Progress Dashboard</a>
            </div>
            <div class = "container">
                <p> Good work! Keep going with your healthylife goals! <br>
                    Check out the progress dashboard to look at your success!
                </p>

            </div>
        </body>
</html>