<!DOCTYPE html>
<html lang = "en"> 
    <title> Healthylife Tracker</title>
    <head>
        <link href = "../static/main.css" rel = "stylesheet">
    </head>
        <body>
            <div class="navbar">
              <a href="{{url_for('index')}}">Enter Data</a>
              <a href="{{url_for('the_data')}}">Progress Dashboard</a>
            </div>
            <div class = "container">
                <p> Coming soon! <br>
                    This is where you can see your data in fancy visualization!
                </p>
            </div>
        </body>
</html>